:root{
	/*Variables*/

	--pink:#E14592;
	--purple: #451F69;
	--background: #F9FAFC;
	--shadow: #363636;
	--black-text:#404040;
	--green: #28A745;
	--green-dark:#218738;
}

* {
	margin: 0%;
	padding: 0%;
	box-sizing:border-box;
}

body {
	font-size: 62.5%;
	background-color: var(--background);
	font-family: monospace;
}

/* DESKTOP  BASE */

header {
	padding: 0.5rem;
	margin: 0rem 0rem 1.5rem 0rem;
	background-color: #FFFFFF;

}

main.container {
	
	margin: 0rem;
	padding: 1rem;
	font-size: 1rem;
	text-align: center;
	align-items: center;
	width: 100%;
}

/* COTIZADOR */ 


.cotizador {

	margin-top: 1rem;
	font-size: 1.3rem;
}

#cotizador-title {
	color: var(--pink);
	font-size: 2.5rem;
	margin-bottom: 2.1rem;
}

.cotizador_form{
	
	margin: 0% 20% 0% 20%;
	border: var(--purple) solid 3px;
	padding: 1.1rem;	
	border-radius: 15px;
	background-color: #FFFFFF;
	box-shadow: var(--shadow) 3px 3px 8px;
	font-weight: bold;
	box-sizing: border-box;
}

.cotizador_form label {
	display: block;
	margin: 1rem;
	color:var(--purple);
}

#lista-destinos {
	background-color: #FFFFFF;
	border: var(--purple) solid 2.5px;
	border-radius: 15px;
	color: var(--black-text);
	font-weight: bolder;
	font-family: monospace;
	font-size: 1.1rem;
	padding: 0.4rem;
	width: 40%;
	display: inline;
	outline: none;
}

.cotizador_fecha {
	display: inline;
	width: 25%;
	background-color: #FFFFFF;
	border: var(--purple) solid 2px;
	border-radius: 15px;
	color: var(--black-text);
	font-weight: bolder;
	font-family: monospace;
	font-size: 1.1rem;
	margin: 0.5rem 0rem 0.5rem 0rem;
	padding: 0.4rem;
	outline: none;
}

.cotizador_btn {
	margin-top:1rem;
	background: var(--green);
	color: #FFFFFF;
	border: none;
	padding: 0.6rem;
	width: 30%;
	border-radius: 25px;
	font-family: monospace;
	font-weight:bold;
	font-size: 1.1rem;
	cursor: pointer;
	outline: none;
}

.cotizador_btn:hover {
	background-color:  var(--green-dark);
}


/* RESULTADOS */

.resultados {
	margin-top: 4rem;
}

#mostrar-dias {

	font-size: 1.8rem;
	color: var(--purple);
}

#salida-resultados{
	margin-top:2rem;
	list-style: none;
}

#salida-resultados li {

	background-color: #FFFFFF;
	border: var(--purple) 2.5px solid;
	/*box-shadow: var(--shadow) 3px 3px 8px;*/
	padding: 1.5rem;
	display: block;
	margin: 0.8rem 25% 0.8rem 25%;
	border-radius: 15px;
	font-size: 1.3rem;
	font-weight: bolder;
	color: var(--purple);
}


/*  DESKTOP LOW */

@media screen and (max-width: 1250px) {

	.cotizador_form{
		margin: 0% 10% 0% 10%;
	}
}

/* MOVIL */

@media screen and (max-width: 850px) {

	header {
		text-align: center;
	}

	.cotizador {
		font-size: 1.1rem;
	}

	#cotizador-title {
		font-size: 1.7rem;
	}

	.cotizador_form{
		margin: 0% 5% 0% 5%;
	}

	.cotizador_form label{
		box-sizing: border-box;
		padding: 0rem;
	}
	
	#lista-destinos {
		font-size: 1rem;
		width: 50%; 
	}

	.cotizador_fecha {
		display: block;
		width: 100%;
		margin: 0.5rem 0rem 0.5rem 0rem;
	}

	.cotizador_btn {
		width: 50%;
		font-size: 1rem;
		padding: 0.7rem;
	}

	/* resultados */

	#mostrar-dias {
		font-size: 1.2rem;
	}

	#salida-resultados li {
		
		margin: 0.8rem 5% 0.8rem 5% ;
		font-size: 1.2rem;
	}

}

@media screen and (max-width: 350px) {

	.cotizador_form {
		margin: 0% 5% 0% 5%;
		padding: 0.5rem;
	}

	#lista-destinos {

		display: block;
		width: 100%;
	}

}


